{% extends "layout/base.html" %}
{% block content %}

    <section id="contact">
        <div class="card-wrapper">
            <div class="card">
                <div class="center">
                    <h1>Contacts</h1>
                    <div class="center">
                        <h5>Hey!</h5><br>
                        Thanks for having reached out to us!<br>
                        <br>
                        If you need dedicated support, or would you like to provide us with any feedback, feel free to call the number below!<br>
                        <br>
                        <h4>+085 1234567</h4>
                        <br>
                        <h6>Our operators are at your disposal Monday to Friday, 9-5 pm</h6>
                    </div>
                </div>   
            </div>
        </div>
    </section>   

{% endblock %}
