{% extends "layout/base.html" %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">

        <a class="navbar-brand" href="{{url_for('home')}}">Casoni Task Manager <i class="fas fa-paint-brush"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Homepage</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('signout')}}">Log Out</a></li>
            </ul>
        </div>

    </div>
</nav>

<section id="dashboard">
    <div class="card-wrapper">

        <!-- profile info -->
        <div class="card">
            <h2>Welcome <strong> {{session['user']['name']}}!</strong></h2>
            <p>
                <strong>Email:</strong> {{session['user']['email']}}
            </p>
        </div>  


        <!-- dashboard tasks table, form-groups: https://getbootstrap.com/docs/4.0/components/forms/-->

        <div class="card">
            <div class="center">

                <form name="tasks_form">
                    <div class="form-group">
                        <div class="input-group">

                            <input name="add-task" class="form-control" type="text" placeholder="Add a new task!" 
                            aria-label="Task" aria-describedby="add-task-btn" minlength="3" required>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" id="add-task-btn">Add ➕</button> 
                            </span>

                        </div>
                    </div>
                </form>
                

                <!-- dedicated buttons to delete tasks -->
        
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group mr-2">
                        <a href="{{ url_for('delete_completed') }}">
                            <button type="button" class="btn btn-outline-success">Remove Completed ✅</button>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{{ url_for('delete_all') }}">
                            <button type="button" class="btn btn-outline-danger">Remove All Tasks ❌</button>
                        </a>
                    </div>
                </div>

                <div>
                <p class="click-completed-p mt-2">Click on a task to mark it as completed!</p>
                
                <!-- Search bar -->
                
                <form action="{{ url_for('search') }}" method="post" class="input-group-text mt-3 mx-0 row">

                    <div class="input-field">
                        <input type="text" name="query" id="query" minlength="3"
                        placeholder="Search Tasks" class="validate" required>
                    </div>

                    <div>
                        <a href="{{ url_for('get_tasks') }}" class="btn">Reset</a>
                    </div>

                    <div>
                        <button type="submit" class="btn"><i class="fas fa-search"></i> Search</button>
                    </div>

                </form>

                <form class="row g-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                        <select id="inputState" class="form-select">
                        <option selected>Choose...</option>
                        <option>...</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </form>


                <!-- tasks list -->
            
                <div class="">
                    <ul class="list-group text-left">     
                        {% for task in tasks %}
                        <a href="{{ url_for('complete', taskId=task._id) }}" class="list-text">
                            <li class="list-group-item {% if task.complete_status %} marked {% endif %} "> {{ task.new_task }} </li>
                        </a>
                        {% else %}
                        <h3 class="">No results</h3>
                        {% endfor %} 
                    </ul>
                </div>

            </div>        

            </div>
        </div>

    
        <!-- signout button card -->
        <div class="card">
            <div class="center">
                <h1>Dashboard</h1>
                <p class="center">Successfully Logged In,<br>Don't forget to Sign out later!</p>
            </div>

            <div class="center">
                <a href = "{{ url_for('signout') }}" id="signout-btn"  class="btn btn-primary">Sign Out</a>
            </div>

        </div>    

    </div>
</section>
   

{% endblock %}
