{% extends "layout/base.html" %}

{% block content %}
<section id="dashboard">
    <div class="card-wrapper">

        <!-- profile info -->
        <div class="card">
            <h2>Welcome!</h2>
            <p>
                <strong>Name:</strong> {{session['user']['name']}}<br>
                <strong>Email:</strong> {{session['user']['email']}}
            </p>
        </div>  

        <!-- dashboard tasks table 
        form-groups: https://getbootstrap.com/docs/4.0/components/forms/-->
        <!-- action="{ url_for('add_task')}"              ADD DOUBLE BRACKET -->

        <div class="card">
            <div class="center">

                <form name="tasks_form"> 
                    <div class="form-group">
                        <div class="input-group">

                            <input name="add-task" class="form-control" type="text" placeholder="Add a new task!" 
                            aria-label="Task" aria-describedby="add-task-btn">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success" id="add-task-btn">Add</button> 
                            </span>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    
        <!-- signout button card -->
        <div class="card">
            <div class="center">
                <h1>Dashboard</h1>
                <p class="center">Successfully Logged In,<br>Don't forget to Sign out later!</p>
            </div>   

            <div class="center">
                <a href = "/user/signout" id="signout-btn"  class="btn btn-primary">Sign Out</a>
            </div>

        </div>    

    </div>
</section>
   

{% endblock %}
