{% extends "layout/base.html" %}
{% block content %}
 
<!-- database testing
{% for detail in details %}
        {{detail.details_name}}
        {{detail.details_date}}
{% endfor %}  -->
<header class="text-white" id="hd-bg-img">
    
<!--style="background-image: url({{ url_for('static', filename='img/task-img.png') }})" -->
                                                        
    <div class="container text-center">
        <h1>Welcome to<br>Casoni Task manager</h1>
        <p class="lead">Simply organize your daily tasks,<br>Please Signin and Enjoy your dashboard!</p>

        <div class="card-wrapper">

            <div class="card">

            <h1 class="center">Create an Account</h1>
            
                <form name="signup_form">
                
                    <label for="name">Name</label>
                    <input type="text" name="name" class="field" required>

                    <label for="email">Email</label>
                    <input type="email" name="email" class="field" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" class="field" minlength="6" required>

                    <p class="error error--hidden"></p>

                    <input type="submit" value="Sign In" class="btn btn-primary" id="sign-btn">
                
                </form>
            
             </div>

            <div class="card">

                <h3 class="center">Already an account?<h3>
                <h1> Log In!</h1>

                <form name="login_form">

                    <label for="email">Email</label>
                    <input type="email" name="email" class="field" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" class="field"  minlength="6" required>

                    <p class="error error--hidden"></p>    

                    <input type="submit" value="Log In" class="btn btn-primary" id="log-btn">
                
                </form>
            
            </div>
    
        </div>

    </div>

</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Why this Task Manager?</h2>
                <p class="lead">Since 2021, <strong>Casoni Task Manager</strong> helps people of different ages
                    organize their <strong>TO DO LIST</strong> every day. <br>Try our dashboard and start 
                    to program your routine in the most efficient way you can do. Here's how:</p>
                <ol>
                    <li>Sign up for free right above or, (if you are already registered) just login!</li>
                    <li>After being redirected to your dashboard, just type the dask you desire to add</li>
                    <li>Completed your task? Well done! Just click on it to mark it as finished</li>
                    <li>Once your job is done, erase one (or multiple tasks) using our dedicated buttons!</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
        <h2>Services we offer</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
    </div>
    </div>
</section>


{% endblock %}
