<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- see all the head tags in the folder below -->
        {% include 'layout/header.html' %}    
    
    </head>  

    <body id="page-top">
        
        {% block content %}
            { # Template to be inserted here }
        {% endblock %}
                
        <!-- Footer --> 
        <footer class="py-4 fixed-bottom" id="footer">
            <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Casoni task manager 2021</p>
            </div>
            <!-- /.container -->
        </footer>

          {% include 'layout/scripts.html' %}  

    </body>
  
</html>

