<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- see all the head tags in the folder below -->
        {% include 'layout/header.html' %}    
    
    </head>  

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">

                <a class="navbar-brand" href="{{url_for('home')}}">Casoni Task Manager <i class="fas fa-paint-brush"></i></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{url_for('home')}}">Homepage</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('dashboard')}}">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{url_for('contact')}}">Contact</a></li>
                    </ul>
                </div>

            </div>
        </nav>

        
                    {% block content %}
                        { # Template to be inserted here }
                    {% endblock %}
                
        <!-- Footer --> 
        <footer class="py-4 fixed-bottom" id="footer">
            <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Casoni task manager 2021</p>
            </div>
            <!-- /.container -->
        </footer>

          {% include 'layout/scripts.html' %}  

    </body>
  
</html>

